h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.divider {
    width: 300px;
    height: 2px;
    margin: 0 auto 50px auto;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}
