.landing {
    width: 100%;
    min-height: 100vh;
    background: url('../../../assets/images/background1-img.png') center top/cover no-repeat;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 80vw;
    padding: 35px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .icon {
            width: 38px;
        }

        .struct {
            font-size: 25px;
            font-weight: 1000;
        }
    }

    .menu {
        display: flex;
        gap: 40px;
        list-style: none;

        li a {
            color: var(--text-color);
            font-weight: 500;
            text-decoration: none;
            font-size: 14px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .actions {
        display: flex;
        gap: 18px;

        .btn-register {
            padding: 8px 24px;
            color: var(--text-color);
            border: 1px solid white;
            border-radius: 24px;
            background: transparent;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background: var(--light-hover);
            }
        }

        .btn-login {
            padding: 8px 24px;
            background: white;
            color: black;
            border: none;
            border-radius: 24px;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    width: 60%;

    .tagline {
        width: 40%;
        background: transparent;
        border: 1px solid white;
        padding: 8px 20px;
        border-radius: 20px;
        color: var(--text-color);
        font-size: 12px;
        letter-spacing: 0.3px;
    }

    .title,
    .subtitle {
        background-image: var(--secondary-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .title {
        margin-top: 40px;
        font-size: 42px;
        font-weight: 500;

        b {
            font-weight: 700;
        }
    }

    .subtitle {
        margin-top: 8px;
        font-size: 16px;
        opacity: 0.7;
    }

    .main-screen {
        margin-top: 60px;
        height: 10%;
        width: 10%;
        padding-bottom: 35px;
    }
}