<div class="landing">
    <nav class="navbar">
        <div class="logo">
            <img src="../../..//assets/icons/struct-logo.png" alt="Logo" class="icon" />
            <span class="struct">Struct</span>
        </div>

        <ul class="menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/">Sobre o Projeto</a></li>
            <li><a routerLink="/">Funcionalidades</a></li>
        </ul>

        <div class="actions">
            <button routerLink = "/register" class="btn-register">Comece já</button>
            <button routerLink ="/login" class="btn-login">Entrar</button>
        </div>
    </nav>

    <section class="hero">
        <p class="tagline">Organize suas ideias, conquiste seus resultados</p>
        <h1 class="title">O espaço <b>inteligente</b> para criar e finalizar seu TCC</h1>
        <p class="subtitle">Gerencie suas etapas, use modelos já formatados e exporte seus<br />projetos com facilidade. Seu TCC mais leve, produtivo e organizado.</p>
        <img src="../../..//assets/icons/struct-logo.png" alt="main-screen" class="main-screen" />
    </section>
</div>