<aside class="sidebar">
  <div class="logo">
    <a routerLink="/"><img src="../../..//assets/icons/struct-logo.png" alt="Logo" class="logo"></a>
  </div>

  <nav class="menu">
    <button class="item active">
      <a routerLink="/dashboard"><img src="../../..//assets/icons/grid.png" alt="Logo" class="logo"></a>
    </button>

    <button class="item">
      <img src="../../..//assets/icons/community.png" alt="">
    </button>

    <button class="item">
      <img src="../../..//assets/icons/calendar.png" alt="">
    </button>

    <button class="item">
      <img src="../../..//assets/icons/settings.png" alt="">
    </button>
  </nav>

  <div class="profile">
    <button class="item">
      <img src="../../..//assets/icons/profile.png" alt="">
    </button>
  </div>
</aside>
