.sidebar {
    position: sticky; 
    top: 0px;  
    max-height: 91.5vh;
    width: 70px;
    height: 91.7%;
    background: #1a1a2e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    .logo {
        display: flex;
        justify-content: center;

        img {
            width: 35px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background: #24243b;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;

            &.active {
                background: #3b3b55;
            }

            img {
                width: 22px;
                opacity: 0.7;
            }
        }
    }

    .profile {
        display: flex;
        justify-content: center;

        .item {
            width: 50px;
            height: 50px;
            background: #24243b;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;

            img {
                width: 100vh;
                opacity: 0.7;
            }
        }
    }
}
